/creational_factory_pattern/bin
/creational_factory_pattern/obj
/creational_builder_pattern/obj
/creational_builder_pattern/bin
/creational_abstract_factory/bin
/creational_abstract_factory/obj
/structural_facade/bin
/structural_facade/obj
/structural_adapter/bin
/structural_adapter/obj
/behavioral_chain_of_responsibility/bin
/behavioral_chain_of_responsibility/obj
/generic_repo/bin
/generic_repo/obj
generic_repo/Data/bin
generic_repo/Data/obj
/unit_of_work/bin
/unit_of_work/obj
